<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>루트 페이지</title>
</head>
<body>
    <div sec:authorize="isAuthenticated()">
        <button type="button" >TODO List 바로가기</button>
        <button type="button" onclick="location.href='/user/logout'">로그아웃</button>
    </div>
    <div sec:authorize="isAnonymous()">
        <button type="button" onclick="location.href='/user/login'">로그인</button>
        <button type="button" onclick="location.href='/user/register'">회원가입</button>
    </div>
</body>
</html>