<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO LIST 보기</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <button onclick="writeTodo()">쓰기</button>
    <button onclick="sortTodo('RECENT')">최근보기</button>
    <button onclick="sortTodo('ALL')">전체보기</button>
    <table>
        <thead>
            <tr>
                <th>
                    내용
                </th>
                <th>
                    상태
                </th>
            </tr>
        </thead>
        <tbody id="todoListBody">
            <tr>
                <td>
                    오늘할일
                </td>
                <td>
                    <input type="radio" value="할일">
                    <input type="radio" value="진행중">
                    <input type="radio" value="완료됨">
                </td>
            </tr>
        </tbody>
    </table>


<script>

   $(function () {
       sortTodo("ALL")
   });

    function writeTodo() {
        location.href = "/todo/write";
    }

    function sortTodo(sep) {

        $.ajax({
            url: "/todo/list",
            type: "get",
            data: {"sortSep" : sep},

            success: function (data) {
                viewTodoList(data);
            }
        });
    }

   function viewTodoList(data) {
        $("#todoListBody").empty();

        $.each(data, function(i, item) {
            let tr = $("<tr></tr>")
            let tempId = '0';
            $.each(item, function(key,value){
                if (key === 'id') {
                    tempId = value;
                    return true;
                } else if (key === 'todoStatus') {
                    makeStatusRadio(value, tempId).appendTo(tr);
                } else {
                    $("<td></td>").html(value).appendTo(tr);
                }
            });
            $("#todoListBody").append(tr);
        })
   }

   function makeStatusRadio(value, tempId) {
        if (value === 'PLAN') {
            return $("<td>" +
                "<input type='radio' name='plan"+ tempId +"' value='PLAN' checked='checked'> 할일  " +
                "<input type='radio' name='progress"+ tempId +"' value='PROGRESS'> 진행중  " +
                "<input type='radio' name='complete"+ tempId +"' value='COMPLETE'> 완료됨  " +
                "<input type='hidden' name='tempId' value='" + tempId +"'>" +
                "</td>")
        } else if (value === 'PROGRESS') {
            return $("<td>" +
                "<input type='radio' name='plan"+ tempId +"' value='PLAN'> 할일  " +
                "<input type='radio' name='progress"+ tempId +"' value='PROGRESS' checked='checked'> 진행중  " +
                "<input type='radio' name='complete"+ tempId +"' value='COMPLETE'> 완료됨  " +
                "<input type='hidden' name='tempId' value='" + tempId +"'>" +
                "</td>")
        } else if (value === 'COMPLETE') {
            return $("<td>" +
                "<input type='radio' name='plan"+ tempId +"' value='PLAN'> 할일  " +
                "<input type='radio' name='progress"+ tempId +"' value='PROGRESS'> 진행중 " +
                "<input type='radio' name='complete"+ tempId +"' value='COMPLETE' checked='checked'> 완료됨  " +
                "<input type='hidden' name='tempId' value='" + tempId +"'>" +
                "</td>")
        }

        return $("<td></td>");
   }

</script>
</body>
</html>