<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO LIST 보기</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
</head>
<body>
    <button onclick="writeTodo()">쓰기</button>
    <button onclick="sortTodo('RECENT')">최근보기</button>
    <button onclick="sortTodo('ALL')">전체보기</button>
    <table>
        <thead>
            <tr>
                <th>
                    내용
                </th>
                <th>
                    상태
                </th>
            </tr>
        </thead>
        <tbody id="todoListBody">
            <tr>
                <td>
                    오늘할일
                </td>
                <td>
                    <input type="radio" value="할일">
                    <input type="radio" value="진행중">
                    <input type="radio" value="완료됨">
                </td>
            </tr>
        </tbody>
    </table>


<script>

   $(function () {
       sortTodo("ALL")

        $(document).on('click', "input[name^='status']", function () {
            console.log($(this).val());

            let arr = $(this).val().split("_");
            let status = arr[0];
            let id = arr[1];

            changeTodoStatus(status, id);
        })
   });

    function writeTodo() {
        location.href = "/todo/write";
    }

    function sortTodo(sep) {

        $.ajax({
            url: "/todo/list",
            type: "get",
            data: {"sortSep" : sep},

            success: function (data) {
                viewTodoList(data);
            }
        });
    }

   function viewTodoList(data) {
        $("#todoListBody").empty();

        $.each(data, function(i, item) {
            let tr = $("<tr></tr>")
            let tempId = '0';
            $.each(item, function(key,value){
                if (key === 'id') {
                    tempId = value;
                    return true;
                } else if (key === 'todoStatus') {
                    makeStatusRadio(value, tempId).appendTo(tr);
                } else {
                    $("<td></td>").html(value).appendTo(tr);
                }
            });
            $("#todoListBody").append(tr);
        })
   }

   function makeStatusRadio(value, tempId) {
        if (value === 'PLAN') {
            return $("<td>" +
                "<input type='radio' name='status"+ tempId +"' value='PLAN_"+ tempId +"' checked='checked'> 할일  " +
                "<input type='radio' name='status"+ tempId +"' value='PROGRESS_"+ tempId +"'> 진행중  " +
                "<input type='radio' name='status"+ tempId +"' value='COMPLETE_"+ tempId +"'> 완료됨  " +
                "</td>")
        } else if (value === 'PROGRESS') {
            return $("<td>" +
                "<input type='radio' name='status"+ tempId +"' value='PLAN_"+ tempId +"'> 할일  " +
                "<input type='radio' name='status"+ tempId +"' value='PROGRESS_"+ tempId +"' checked='checked'> 진행중  " +
                "<input type='radio' name='status"+ tempId +"' value='COMPLETE_"+ tempId +"'> 완료됨  " +
                "</td>")
        } else if (value === 'COMPLETE') {
            return $("<td>" +
                "<input type='radio' name='status"+ tempId +"' value='PLAN_"+ tempId +"'> 할일  " +
                "<input type='radio' name='status"+ tempId +"' value='PROGRESS_"+ tempId +"'> 진행중 " +
                "<input type='radio' name='status"+ tempId +"' value='COMPLETE_"+ tempId +"' checked='checked'> 완료됨  " +
                "</td>")
        }

        return $("<td></td>");
   }

   function changeTodoStatus(status, id) {
       let header = $("meta[name='_csrf_header']").attr('content');
       let token = $("meta[name='_csrf']").attr('content');

       $.ajax({
           url: "/todo/changeStatus",
           beforeSend: function(xhr){
               xhr.setRequestHeader(header, token);
           },
           type: "post",
           data: {"status" : status, "id" : id},

           success: function (data) {
               console.log(data);
           }
       });
   }

</script>
</body>
</html>